img{
    height: auto;
    max-width: 100%;
    vertical-align: top;
}

#logoMenu {
    margin:0px 0 0 0px;
}

p{
    padding-top: 10px;
}
.btn-block, .button-registration, #btnSave, #btnEditPhoto {
    background-color: #311a68!important;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-weight: bold; 
    color: aliceblue;
    padding:10px;
    transition:none ;
}

.btn-block:hover{
    background-color:  #dfd5f7!important;
    font-weight: bold;
    color: rgb(58, 0, 112);
}

img{
    padding-top: 20px;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
#description-3{
    padding-top: 100px;
}

@media screen and (max-width: 400px){

    #text-info{
        font-size: 16px;
        text-align: center;
    }

    #logoMenu {
    margin: 10px 0 0 125px;
    width: 25%;
    }
    #wine, #food, #drinks{
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 812px){
    #text-info{
        font-size: 18px;
        text-align: center;
    }

}

