span{
    text-align: center;
}
ul, li {list-style-type: none;}

li{padding: 10px;}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0;
}

input{
    border-radius: 12px;
}
#okbtn{
    background-color: rgba(117, 66, 184, 0.815);
    border-radius: 12px;
    color: aliceblue;
}

@media screen and (max-width: 400px){
img {
    display:none;
}
    main { font-size: 12px;}
   

}


@media screen and (max-width: 812px){
#event2{
padding-bottom: 30px;
}
#event3{
    padding-bottom: 50px;
}
}

