
html, body {
    height: 100%;
    width: 100%;
  }

<!--CreateAccount-->
h1{   
    color: black;
     font-weight: bolder;
}

footer{
    background-color:#929292ab;
    padding: 10px;
}


input[type=text], [type=password], [type=email], [type=date], [type=number]
{
    display: -webkit-inline-box;
    background-color:  #cab9f1;
    color: black;
    font-weight: 500;
    font-size: 18px;
}
#state, #title, #inputGroupPrepend, #gender{
    display: block;
    background-color:  #cab9f1;
}


.container-sm{
    padding: 20px;
}

main{
    padding-bottom: 20px;
}



label{
color:black;
font-weight: bolder;
font-size: 22px;
}

#Terms{
    font-size: 18px;
    font-weight: normal;
    color: black;
}

#logo{
    padding-top: 20px;
    width: 5%;
}

.footer-copyright{
    padding-top: 30px;
}

.page-footer{
    padding: 50px;
}



@media screen and (max-width: 740px){
  
    h1{
       font-size: 30px;
    } 

  label{
        font-size: 14px;
        font-weight: normal;
    }

    input{
        font-size: 12px;
    }

    #main{
        padding: 50px;
    }

    #Terms{
        font-size: 10px;
        font-weight: normal;
    }

    #logo{
        width: 15%;
    }
    .container-md{
        padding-top: 0px;
    }
}

