
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat';
  }

<!--CreateAccount-->
h1{   
    color: black;
     font-weight: bolder;
}

footer{
    background-color:#929292ab;
    padding: 10px;
}


input[type=text], 
[type=password], 
[type=email], 
[type=date], 
[type=number]
{
    display: -webkit-inline-box;
    background-color:  #cab9f1;
    color: black;
    font-weight: 500;
    font-size: 16px;
}





#state, #title, #inputGroupPrepend, #gender{
    background-color:  #cab9f1;
}

.btn-lg{
    background-color: #311a68!important;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-weight: bold; 
}
.container-sm{
    padding: 20px;
}

main{
    padding-bottom: 20px;
}

label{
color:black;
font-weight: bolder;
font-size: 22px;
}

#visibility{
    position: absolute;
    right: 20px;
    transform: translate(0, -50%);
    top: 50%;
    cursor: pointer;   
}


.fa{
    font-size: 20px;
    color: black;
}

#Terms{
    font-size: 18px;
    font-weight: normal;
    color: black;
}

#logo{
    padding-top: 20px;
    width: 5%;
}

.footer-copyright{
    padding-top: 30px;
}

.page-footer.dark a {
    color: #d2d1d1;
}

.page-footer{
    padding: 30px;
    background-color: #2b2f31;
}

.page-footer.dark h5 {
    color: #fff;
}


@media screen and (max-width: 768px){
  
    h1{
       font-size: 30px;
    } 

  label{
        font-size: 14px;
        font-weight: bold;
    }

    input{
        font-size: 12px;
        box-shadow: 0px, 5px, 30px, 0px;
    }

    p{
        font-size: 8px;
    }
    #main{
        padding: 50px;
    }

    #Terms{
        font-size: 10px;
        font-weight: normal;
    }

    #logo{
        width: 15%;
    }

    .btn-lg{
        justify-content: center;
    }
    .container-md{
        padding-top: 0px;
    }

    .page-footer {
        text-align: center;
    }
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    *, :after, :before {
        box-sizing: border-box;
    }
    .page-footer ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    .page-footer ul li:before {
    top: 9px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}}

@media (min-width: 768px){

}
