body {
    margin: 0;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: var(--bxjxgl,500);
    line-height: 1.5rem;
    color: #111;
    text-align: left;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.ux-card {
    border-radius: 4px;
    margin: 0 0 1.25rem;
    color: #111;
    border: 1px solid #d4dbe0;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: .0625rem solid #d4dbe0;
    margin-bottom: 1.25rem;
}
.ux-app {
    background-color: #f5f7f8;
    color: #444;
}

#Facebook{
    column-width: 200px;
}
#logo {
    padding-top: 50px;
    padding-bottom: 10px;
  }

#FB-logo{
    width: 20%;
    padding-right: 15px;
}

#Gmail-logo{
    width: 14%;
    padding-right: 15px;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 3px;
}

.btn1:hover{
   background-color: rgb(179, 177, 177);
   border: 1px solid;
   color: black; 
   font-weight: bold;
}

@media screen and (max-width: 400px){
    #logo{
       width: 30%;
       margin: 10px 0 0 145px;
    }
    #FB-logo{
           width: 20%;
           padding-right: 10px;
    }
    
    #Gmail-logo{
        width: 26%;
        padding-right: 10px;
    }

    h2{
        font-size: 25px;
        font-weight: bolder;
    }
    body{
        font-size:12px;
    }

}