html, body{height:100%;
    position:center ;}

body{background-color: rgb(241, 241, 241);}


.form-register .form-signin{
    width: 100%;
    max-width: 330px;
    padding:15px;
    margin: auto;
}


.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
}




h1,button,p{
    padding-top: 40px;
}
button.btn{
    background-color: #311a68!important;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.form-signin .form-control .form-register{
    position: relative;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-control:focus{z-index: 2;}

#inputEmail{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

#inputPassword{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}



@media (min-width: 400px){
    #visibility{
        position: absolute;
        right: -100px;
        transform: translate(0, -50%);
        top: 20%;
        cursor: pointer;
    }
}

@media screen and (max-width: 1024px){
    #visibility{
        position: absolute;
        right: -100px;
        transform: translate(0, -50%);
        top: 63%;
        cursor: pointer;
    }
}